<div class="middle-box text-center loginscreen animated fadeInDown">
   <div>
      <div>
         <h1 class="logo-name">IN+</h1>
      </div>
      <h3>Welcome to IN+</h3>
      <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      </p>
      <p>Login in. To see it in action.</p>
      <form class="m-t" role="form" ng-submit='login()'>
         <div class="form-group">
            <input type="email" ng-model="user.email" class="form-control" placeholder="Email" required>
         </div>
         <div class="form-group">
            <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
         </div>
         <button class="btn btn-primary block full-width m-b">Login</button>
         <p><strong>{{ errorSignIn }}</strong></p>
         <a href="#"><small>Forgot password?</small></a>
         <p class="text-muted text-center"><small>Do not have an account?</small></p>
         <a class="btn btn-sm btn-white btn-block" href="#!register">Create an account</a>
      </form>
      <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
   </div>
</div>