<div class="middle-box text-center loginscreen   animated fadeInDown">
   <div>
      <div>
         <h1 class="logo-name">IN+</h1>
      </div>
      <h3>Register to IN+</h3>
      <p>Create account to see it in action.</p>
      <form name="signUp">
         <div class="form-group">
            <input type="text" class="form-control" ng-model="user.name" placeholder="Name" required>
         </div>
         <div class="form-group">
            <input type="email" class="form-control" ng-model="user.email" placeholder="Email" required>
         </div>
         <div class="form-group">
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required>
         </div>
         <div class="form-group">
            <div class="checkbox i-checks">
               <input type="checkbox" ng-model="val"><i></i>
               <label> Agree the terms and policy </label>
            </div>
         </div>
         <button type="submit" class="btn btn-primary block full-width m-b" ng-click="createUser()" ng-disabled="signUp.$invalid ||  !val">Register</button>
         <p><strong>{{ errorSignUp }}</strong></p>
         <p class="text-muted text-center"><small>Already have an account?</small></p>
         <a class="btn btn-sm btn-white btn-block" href="#!">Login</a>
      </form>
      <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
   </div>
</div>